Repository dream-aim-deliver/dad-e-class-monorepo, pull requests merged in 2025-03, with the labels that each got.

#52 [TSK-676] [TSK-677] [TSK-678] Migration of the UI-Kit Course Card component and the Course Card List (gallery view) components
  packages/translations/src/lib/dictionaries/base.ts
  packages/translations/src/lib/dictionaries/de.ts
  packages/translations/src/lib/dictionaries/en.ts
  packages/ui-kit/lib/components/avatar/user-avatar.tsx
  packages/ui-kit/lib/components/badge.tsx
  packages/ui-kit/lib/components/coursecard/coach-coursecard/coach-coursecard.tsx
  packages/ui-kit/lib/components/coursecard/course-card.tsx
  packages/ui-kit/lib/components/coursecard/course-creator-coursecard/course-creator-card.tsx
  packages/ui-kit/lib/components/coursecard/course-creator.tsx
  packages/ui-kit/lib/components/coursecard/course-stats.tsx
  packages/ui-kit/lib/components/coursecard/student-coursecard/course-actions.tsx
  packages/ui-kit/lib/components/coursecard/student-coursecard/student-course-card.tsx
  packages/ui-kit/lib/components/coursecard/visitor-coursecard/visitor-coursecard.tsx
  packages/ui-kit/lib/components/icons/icon-check.tsx
  packages/ui-kit/lib/components/icons/icon-clock.tsx
  packages/ui-kit/lib/components/icons/icon-coaching-offer.tsx
  packages/ui-kit/lib/components/icons/icon-coaching-session.tsx
  packages/ui-kit/lib/components/icons/icon-edit.tsx
  packages/ui-kit/lib/components/icons/icon-group.tsx
  packages/ui-kit/lib/components/icons/icon-hourglass.tsx
  packages/ui-kit/lib/components/icons/icon-language.tsx
  packages/ui-kit/lib/components/icons/icon-sales.tsx
  packages/ui-kit/lib/components/icons/icon-star-filled.tsx
  packages/ui-kit/lib/components/icons/icon-star-half.tsx
  packages/ui-kit/lib/components/icons/icon-star.tsx
  packages/ui-kit/lib/components/icons/icon.tsx
  packages/ui-kit/lib/components/progress-bar.tsx
  packages/ui-kit/lib/components/star-rating.tsx
  packages/ui-kit/lib/index.ts
  packages/ui-kit/package.json
  packages/ui-kit/stories/course-card.stories.tsx
  packages/ui-kit/stories/icons/icon-clock.stories.tsx
  packages/ui-kit/stories/icons/icon-coaching-offer.stories.tsx
  packages/ui-kit/stories/icons/icon-coaching-session.stories.tsx
  packages/ui-kit/stories/icons/icon-group.stories.tsx
  packages/ui-kit/stories/icons/icon-language.stories.tsx
  packages/ui-kit/stories/icons/icon-sales.stories.tsx
  packages/ui-kit/stories/icons/icon-star-filled.stories.tsx
  packages/ui-kit/stories/icons/icon-star-half.stories.tsx
  packages/ui-kit/stories/icons/icon-star.stories.tsx
  packages/ui-kit/stories/progress-bar.stories.tsx
  packages/ui-kit/stories/star-rating.stories.tsx
  packages/ui-kit/tests/course-card.test.tsx
  packages/ui-kit/tests/progress-bar.test.tsx
  packages/ui-kit/tests/star-rating.test.tsx
  pnpm-lock.yaml
Labels: ui-kit

#64 [TSK-664] Implementation of Notification model
  packages/models/src/index.ts
  packages/models/src/notification.ts
  packages/models/tests/notification.test.ts
Labels: ui-kit

#68 fix(ui-kit): package.json config breaking CI
  packages/ui-kit/package.json
Labels: ui-kit

#61 [TSK-695] [TSK-696] [TSK-697] migration(ui-kit): Available Coaching Session component
  packages/translations/src/lib/dictionaries/base.ts
  packages/translations/src/lib/dictionaries/de.ts
  packages/translations/src/lib/dictionaries/en.ts
  packages/ui-kit/lib/components/available-coaching-sessions/available-coaching-sessions.tsx
  packages/ui-kit/lib/components/available-coaching-sessions/drag-drop-session.tsx
  packages/ui-kit/lib/components/avatar/user-avatar.tsx
  packages/ui-kit/lib/components/button.tsx
  packages/ui-kit/lib/components/coursecard/course-creator.tsx
  packages/ui-kit/stories/available-coaching-sessions/available-coaching-sessions.stories.tsx
  packages/ui-kit/tests/available-coaching-sessions.test.tsx
Labels: ui-kit

#57 [TSK-632] [TSK-685] [TSK-687] migration(ui-kit): Coach Review
  packages/translations/src/lib/dictionaries/base.ts
  packages/translations/src/lib/dictionaries/de.ts
  packages/translations/src/lib/dictionaries/en.ts
  packages/ui-kit/lib/components/button.tsx
  packages/ui-kit/lib/components/coach-review-card.tsx
  packages/ui-kit/lib/components/coursecard/coach-coursecard/coach-coursecard.tsx
  packages/ui-kit/lib/components/coursecard/course-creator-coursecard/course-creator-card.tsx
  packages/ui-kit/lib/components/coursecard/course-creator.tsx
  packages/ui-kit/lib/components/coursecard/student-coursecard/student-course-card.tsx
  packages/ui-kit/lib/components/coursecard/visitor-coursecard/visitor-coursecard.tsx
  packages/ui-kit/lib/components/icons/icon-calendar.tsx
  packages/ui-kit/lib/components/star-rating.tsx
  packages/ui-kit/stories/coach-review-card.stories.tsx
  packages/ui-kit/tests/coach-review-card.test.tsx
Labels: ui-kit

#55 [TSK-631] [TSK-681] [TSK-682] migration(ui-kit): Buy Coaching Sessions
  packages/translations/src/lib/dictionaries/base.ts
  packages/translations/src/lib/dictionaries/de.ts
  packages/translations/src/lib/dictionaries/en.ts
  packages/ui-kit/lib/assets/css/tailwind.css
  packages/ui-kit/lib/components/buy-coaching-session.tsx
  packages/ui-kit/lib/components/icons/icon-infocircle.tsx
  packages/ui-kit/lib/components/icons/icon-minus.tsx
  packages/ui-kit/lib/components/input-field.tsx
  packages/ui-kit/lib/components/tooltip.tsx
  packages/ui-kit/lib/index.ts
  packages/ui-kit/stories/buy-coaching-session.stories.tsx
  packages/ui-kit/stories/icons/icon-info-circle.stories.tsx
  packages/ui-kit/stories/icons/icon-minus.stories.tsx
  packages/ui-kit/stories/tooltip.stories.tsx
  packages/ui-kit/tests/buy-coaching-session.test.tsx
Labels: ui-kit

#113 [TSK-836] Add Nx sync check to CI workflow
  .github/workflows/ci.yml
  apps/platform-e2e/tsconfig.json
  tools/check-nx-sync.sh
Labels: setup

#119 [TSK-843] Add Google Fonts to Storybook preview
  packages/ui-kit/.storybook/preview-head.html
Labels: ui-kit, setup

#100 [TSK-726] [TSK-727] [TSK-728] feat(topic-list): TopicLinkList
  packages/ui-kit/lib/components/topic-list.tsx
  packages/ui-kit/stories/topic-link-list.stories.tsx
Labels: ui-kit

#116 feat(dropdown): add position prop for customizable dropdown placement
  packages/ui-kit/lib/components/dropdown.tsx
  packages/ui-kit/stories/dropdown.stories.tsx
Labels: ui-kit

#126 [TSK-732] [TSK-733] [TSK-734] ui-kit:home-AccordionList
  packages/ui-kit/lib/components/accordion/accordion-content.tsx
  packages/ui-kit/lib/components/accordion/accordion-item.tsx
  packages/ui-kit/lib/components/accordion/accordion-trigger.tsx
  packages/ui-kit/lib/components/accordion/accordion.tsx
  packages/ui-kit/lib/components/accordion/index.ts
  packages/ui-kit/lib/components/rich-text-element/renderer.tsx
  packages/ui-kit/lib/index.ts
  packages/ui-kit/stories/accordion.stories.tsx
Labels: ui-kit

#122 [TSK-735] [TSK-736] [TSK-737] ui-kit: Footer
  packages/ui-kit/lib/components/footer.tsx
  packages/ui-kit/stories/footer.stories.tsx
  packages/ui-kit/tests/footer.test.tsx
Labels: ui-kit
