Repository dream-aim-deliver/dad-e-class-monorepo, pull requests merged in 2025-04, with the labels that each got.

#127 [TSK-850] Update PR template with React best practices checklist
  .github/PULL_REQUEST_TEMPLATE/ui_kit_template.md
Labels: documentation, ui-kit

#133 feat(input-field): add inputClassName prop for custom input styling
  packages/ui-kit/lib/components/buy-coaching-session.tsx
  packages/ui-kit/lib/components/input-field.tsx
  packages/ui-kit/lib/components/profile/professional-info.tsx
  packages/ui-kit/lib/components/profile/profile-info.tsx
Labels: ui-kit

#144 [TSK-920] Include base-brand color in @theme block
  packages/ui-kit/lib/assets/css/tailwind.css
Labels: enhancement

#54 [TSK-634] [TSK-679] [TSK-680] migration(ui-kit): course-container, become-a-coach-banner
  apps/platform/src/components/home.tsx
  packages/translations/src/lib/dictionaries/base.ts
  packages/translations/src/lib/dictionaries/de.ts
  packages/translations/src/lib/dictionaries/en.ts
  packages/ui-kit/lib/components/coach-banner.tsx
  packages/ui-kit/lib/components/course-card/coach-course-card/coach-course-card.tsx
  packages/ui-kit/lib/components/course-card/course-card-list.tsx
  packages/ui-kit/lib/components/course-card/course-card.tsx
  packages/ui-kit/lib/components/course-card/course-creator-course-card/course-creator-card.tsx
  packages/ui-kit/lib/components/course-card/course-creator.tsx
  packages/ui-kit/lib/components/course-card/course-stats.tsx
  packages/ui-kit/lib/components/course-card/empty-state.tsx
  packages/ui-kit/lib/components/course-card/student-course-card/course-actions.tsx
  packages/ui-kit/lib/components/course-card/student-course-card/student-course-card.tsx
  packages/ui-kit/lib/components/course-card/visitor-course-card/visitor-course-card.tsx
  packages/ui-kit/lib/components/coursecard/course-card.tsx
  packages/ui-kit/lib/index.ts
  packages/ui-kit/stories/coach-banner.stories.tsx
  packages/ui-kit/stories/course-card/course-card-list.stories.tsx
  packages/ui-kit/stories/course-card/course-card.stories.tsx
  packages/ui-kit/stories/course-card/empty.stories.tsx
  packages/ui-kit/tests/coach-banner.test.tsx
  packages/ui-kit/tests/course-card-list.test.tsx
  packages/ui-kit/tests/course-card.test.tsx
  packages/ui-kit/tests/empty-state.test.tsx
Labels: ui-kit

#159 feat(ui-kit): CourseIntroBanner component , storybook and test are added.
  packages/ui-kit/lib/components/course-intro-banner.tsx
  packages/ui-kit/stories/course-intro-banner.stories.tsx
  packages/ui-kit/tests/course-intro-banner.test.tsx
Labels: ui-kit

#161 [TSK-770] [TSK-771] [TSK-772] ui-kit: CourseCardList with checkbox filter variation
  packages/ui-kit/stories/course-card/course-card-list-checkbox-filter.stories.tsx
Labels: ui-kit
